
  <h1 class="header">math addition practice game</h1>
  
  <div class="game-container">
    <div class="add-equation">{{ firstNum}} + {{ secondNum }} =</div>
    <form class="answer-form" (ngSubmit)="onUserAnswer(answerForm)" #answerForm="ngForm">
      <input type="number" min="0" class="result-input" placeholder="Enter Your Result ..." name="answer" ngModel required>

      <div class="wrong-ans-alert" *ngIf="!correctAnswer">Wrong Answer. Think and Try Again</div>
      <button type="submit" id="submit-btn"  [ngClass]="{ 'active-btn' : answerForm.valid}" [disabled]="answerForm.invalid">submit</button>
    </form>
    
  </div>
  

  <div class="answer-average" *ngIf="solutionAVG !== 0"> seconds average per equation solution : {{ solutionAVG }}</div>

